/*universal selecter*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    width:100vw;
    height:100vh;
    background-color:#1e90ff;

    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    transition: 0.3s;
}
.grid-item{
    width: 100%;
    height:100%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
}
.grid-item-hover{
transition: 0.4s;
}
.grid-item-hover :hover{
    transform: scale(1.1);
}
.grid-item-1{
    grid-column: 3/-1;
    grid-row: 1/2;
}
.grid-item-2{
    grid-column: 1/3;
    grid-row: 1/2;
}
.grid-item-3{
    grid-column: 3/-1;
    grid-row: 3/-1;
}
.grid-item-4{
    grid-row:2/3;
    grid-column: 2/3;

}
.grid-item-5{
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid-item-7{
    grid-row:3/-1;
    grid-column:1/3;
}
.image{
    width: 100%;
    height: 100%;

}
.image img{
    width:100%;
    height:100%;
}
.container{
    width: 70%;
    height: 90%;
    border-radius: 10px;
    padding: 10px;

    

    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
} 
.name,.p {
    padding: 10px; 
    border-radius: 10px;  
    color:rgb(156, 149, 149);
}
.name{
    font-size: 30px;
    font-weight: 300;
    font-family:sofia , san-serif;
}


.picture{
    width:150px;
    height: 130px;
    margin-left: 20px;
    border-radius: 5px;

}
.picture img{
    width: 150px;
    height: 130px;
    border-radius:120px; 
    

}
.links{
width: 100px;
height: 40px;
display: flex;
gap: 10px;
}
.links a{
    color:#b0b0b0;
    transition: 0.5s;
}
.links a :hover{
    color: blue;
}

